:root {
    --hover-color: #e0e0e1;
}

[data-theme="dark"] {
    --hover-color: #1A202C;
}

.active {
    background-color: var(--hover-color) !important;
}



input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 10px;
}

